h1{
  font-size: 100px;
  background-color: rgb(255, 229, 112);
  padding: 5px 10px;
  border-style: dashed;
  display:inline-block ;
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
body{
  background-color: aqua;
}
p{
  font-size: 30px;
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
