body{
  background: url(Artboard\ 1.png)
}
div{
  background-color: rgb(127, 193, 255);
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 50px;
  padding: 5px 20px;
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
h1{
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
